* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#texture,
#scene,
#tint {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#texture {
  background-color: #e9e7e3;
  background-image: url(/resources/textures/grain.png);
  background-size: 150%;
  background-repeat: no-repeat;
}

#scene {
  mix-blend-mode: soft-light;
  /* mix-blend-mode: color-dodge; */
}

#tint {
  background-color: #668e91;
  mix-blend-mode: hue;
}